@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800;900&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

/* Game Container Styles */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ece5d5;
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto;
}

main .game-container {
  display: grid;
  grid-template-columns: 1fr 0.65fr 1fr;
  grid-template-rows: 1fr 0.65fr 1fr;
  background: rgba(79, 93, 100, 1);
  border-radius: 2em;
  box-shadow: -32px 44px 60px 0px rgba(15, 12, 36, 0.35), -8px 15px 20px 0px rgba(0, 0, 0, 0.65), -4px 4px 4px 4px rgba(155, 164, 167, 0.4) inset, 2px -2px 4px 6px rgba(0, 0, 0, 0.45) inset;
  height: 800px;
  width: 800px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto;
}

.game-container div {
  box-shadow: -2px 2px 2px 4px rgba(155, 164, 167, 0.4) inset, 2px -2px 2px 4px rgba(0, 0, 0, 0.45) inset;
}

.game-container .misc-ellipses,
.game-container .misc-line {
  box-shadow: none;
}

.game-container h2 {
  height: fit-content;
  color: #eed3a3;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 14.4px;
  text-transform: uppercase;
}

.game-container .item1 {
  border-top-left-radius: 2em;
  display: flex;
  flex-direction: column;
}

.game-container .item3 {
  border-top-right-radius: 2em;
  text-align: end;
  display: flex;
  flex-direction: column;
}

.game-container .item7 {
  border-bottom-left-radius: 2em;
  display: flex;
  flex-direction: column-reverse;
}

.game-container .item9 {
  border-bottom-right-radius: 2em;
  display: flex;
  align-items: end;
  justify-content: end;
  flex-direction: column-reverse;
}

/* Misc Ellipses Styles */
.item1 .misc-ellipses {
  display: flex;
}

.item1 .misc-ellipses h2 {
  margin: 2.5em 3.5em;
}

.item1 .misc-ellipses img {
  padding: 1.5em 0;
}

.item2 h2 {
  display: flex;
  justify-content: center;
  margin: 2.5em 0em;
}

.item3 .misc-ellipses {
  display: flex;
  flex-direction: row-reverse;
}

.item3 .misc-ellipses h2 {
  margin: 2.5em 1.5em;
}

.item3 .misc-ellipses img {
  padding: 1.5em 1em;
}

.item7 .misc-ellipses {
  display: flex;
}

.item7 .misc-ellipses h2 {
  margin: 1.75em 0.5em;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 8px;
}

.item9 .misc-ellipses {
  display: flex;
  flex-direction: row-reverse;
}

.item9 .misc-ellipses h2 {
  margin: 1.75em -2.5em;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 8px;
}

.item9 .misc-ellipses img {
  padding: 0em 1em;
}

/* Misc Lines Styles */
.item1 .misc-line img {
  transform: rotate(90deg);
  margin: 1.5em -0.9em;
}

.item3 .misc-line img {
  transform: rotate(90deg);
  margin: 1.5em -1.1em;
}

.item7 .misc-line img {
  transform: rotate(-90deg);
  margin: 5em -0.9em;
}

.item9 .misc-line img {
  transform: rotate(-90deg);
  margin: 5em -1.1em;
}

/* Game Framer Styles */
main .game-framer {
  position: absolute;
  padding: 0.5em 0.5em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-image: linear-gradient(223deg, #fefcf4 3.36%, #d1c4b3 95.72%);
  box-shadow: -24px 36px 44px 0px rgba(15, 12, 36, 0.55), -8px 15px 20px 0px rgba(0, 0, 0, 0.55);
  border-radius: 2em;
  outline: 3px solid rgba(62, 41, 26, 0.7);
  outline-offset: -10px;
  filter: drop-shadow(-4px 4px 8px rgba(62, 41, 26, 0.7));
  height: 600px;
  width: 600px;
  z-index: 1;
}

.game-framer img {
  width: 100%;
  height: 100%;
  margin: -0.1em 0em;
}

.game-framer .item1 img {
  border-top-left-radius: 2em;
}

.game-framer .item3 img {
  border-top-right-radius: 2em;
}

.game-framer .item7 img {
  border-bottom-left-radius: 2em;
}

.game-framer .item9 img {
  border-bottom-right-radius: 2em;
}

/* Game Turn Styles */
main .game-turn {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  width: 800px;
  height: 100px;
  align-items: center;
  position: absolute;
  bottom: 7em;
}

.game-turn .turn-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}

.turn-icons .star img {
  width: 100px;
  height: 100px;
}

.turn-icons .planet img {
  width: 100px;
  height: 100px;
}

.turn-icons .spinner {
  border: 10px solid #eed3a3;
  box-shadow: 1px 1px 3px 3px #d1c4b3;
  background: #eed3a3;
  border-radius: 5em;
}

.game-turn .score {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  margin-left: 0.5em;
}

.score h1 {
  color: var(--Gray-900, #4f5d64);
  text-align: center;
  font-family: Inter;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 10px;
}

.score h3 {
  color: var(--Gray-600, #828c90);
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 7px;
}
