@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800;900&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

/* Game Container Styles */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ece5d5;
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto;
}

main .game-container {
  display: grid;
  grid-template-columns: 1fr 0.65fr 1fr;
  grid-template-rows: 1fr 0.65fr 1fr;
  background: rgba(79, 93, 100, 1);
  border-radius: 2em;
  box-shadow: -32px 44px 60px 0px rgba(15, 12, 36, 0.35), -8px 15px 20px 0px rgba(0, 0, 0, 0.65), -4px 4px 4px 4px rgba(155, 164, 167, 0.4) inset, 2px -2px 4px 6px rgba(0, 0, 0, 0.45) inset;
  height: 800px;
  width: 800px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto;
  z-index: 1;
}

.game-container div {
  box-shadow: -2px 2px 2px 4px rgba(155, 164, 167, 0.4) inset, 2px -2px 2px 4px rgba(0, 0, 0, 0.45) inset;
}

.game-container .misc-ellipses,
.game-container .misc-line {
  box-shadow: none;
}

.game-container h2 {
  height: fit-content;
  color: #eed3a3;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 14.4px;
  text-transform: uppercase;
}

.game-container .item1 {
  border-top-left-radius: 2em;
  display: flex;
  flex-direction: column;
}

.game-container .item3 {
  border-top-right-radius: 2em;
  text-align: end;
  display: flex;
  flex-direction: column;
}

.game-container .item7 {
  border-bottom-left-radius: 2em;
  display: flex;
  flex-direction: column-reverse;
}

.game-container .item9 {
  border-bottom-right-radius: 2em;
  display: flex;
  align-items: end;
  justify-content: end;
  flex-direction: column-reverse;
}

/* Misc Ellipses Styles */
.item1 .misc-ellipses {
  display: flex;
}

.item1 .misc-ellipses h2 {
  margin: 2.5em 3.5em;
}

.item1 .misc-ellipses img {
  padding: 1.5em 0;
}

.item2 h2 {
  display: flex;
  justify-content: center;
  margin: 2.5em 0em;
}

.item3 .misc-ellipses {
  display: flex;
  flex-direction: row-reverse;
}

.item3 .misc-ellipses h2 {
  margin: 2.5em 1.5em;
}

.item3 .misc-ellipses img {
  padding: 1.5em 1em;
}

.item7 .misc-ellipses {
  display: flex;
}

.item7 .misc-ellipses h2 {
  margin: 1.75em 0.5em;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 8px;
}

.item9 .misc-ellipses {
  display: flex;
  flex-direction: row-reverse;
}

.item9 .misc-ellipses h2 {
  margin: 1.75em -2.5em;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 8px;
}

.item9 .misc-ellipses img {
  padding: 0em 1em;
}

/* Misc Lines Styles */
.item1 .misc-line img {
  transform: rotate(90deg);
  margin: 1.5em -0.9em;
}

.item3 .misc-line img {
  transform: rotate(90deg);
  margin: 1.5em -1.1em;
}

.item7 .misc-line img {
  transform: rotate(-90deg);
  margin: 5em -0.9em;
}

.item9 .misc-line img {
  transform: rotate(-90deg);
  margin: 5em -1.1em;
}

/* Game Framer Styles */
main .game-framer {
  position: absolute;
  padding: 0.5em 0.5em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-image: linear-gradient(223deg, #fefcf4 3.36%, #d1c4b3 95.72%);
  box-shadow: -24px 36px 44px 0px rgba(15, 12, 36, 0.55), -8px 15px 20px 0px rgba(0, 0, 0, 0.55);
  border-radius: 2em;
  outline: 3px solid rgba(62, 41, 26, 0.7);
  outline-offset: -10px;
  filter: drop-shadow(-4px 4px 8px rgba(62, 41, 26, 0.7));
  height: 600px;
  width: 600px;
  z-index: 1;
}

.game-framer img {
  width: 100%;
  height: 100%;
  margin: -0.1em 0em;
}

.game-framer .item1 img {
  border-top-left-radius: 2em;
}

.game-framer .item3 img {
  border-top-right-radius: 2em;
}

.game-framer .item7 img {
  border-bottom-left-radius: 2em;
}

.game-framer .item9 img {
  border-bottom-right-radius: 2em;
}

/* Game Turn Styles */
main .game-turn {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 100px;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto auto;
}

.game-turn .turn-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 27em;
}

.turn-icons .planet,
.turn-icons .star {
  border: 1px solid #c6d4d9;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  padding: 4em 0em;
  z-index: 0;
  background: #c6d4d9;
}

.turn-icons .star img {
  width: 100px;
  height: 100px;
}

.turn-icons .planet img {
  width: 100px;
  height: 100px;
}

.turn-icons .spinner {
  border: 10px solid #eed3a3;
  box-shadow: 1px 1px 3px 3px #d1c4b3;
  background: #eed3a3;
  border-radius: 5em;
}

.turn-icons .spinner:hover {
  cursor: pointer;
  background: #eed3a3;
  box-shadow: -3px 3px 5px 5px #b39c80;
}

.game-turn .score {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  margin-left: 0.5em;
}

.score h1 {
  color: var(--Gray-900, #4f5d64);
  text-align: center;
  font-family: Inter;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 10px;
}

.score h3 {
  color: var(--Gray-600, #828c90);
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 7px;
}

/* Game Modal Styles */
main .game-modal {
  display: none !important;
  display: flex;
  flex-direction: row;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.06) 18.75%, rgba(0, 0, 0, 0) 49.71%, rgba(0, 0, 0, 0.04) 82.81%, rgba(0, 0, 0, 0.2) 100%), var(--X-Color-500, #c6d4d9);
  box-shadow: -16px 28px 108px 0px rgba(0, 0, 0, 0.55);
  align-items: center;
  text-align: center;
  width: 100%;
  height: 400px;
  position: absolute;
  z-index: 3;
}

.game-modal .game-lines,
.game-modal .game-lines2,
.game-modal .game-lines3 {
  position: absolute;
  border-top: 2px solid #edd2a0;
  border-bottom: 2px solid #edd2a0;
  height: 470px;
  width: 30%;
  left: 0;
  right: 0;
  margin: auto auto;
  z-index: 1;
}

.game-modal .game-lines2 {
  height: 430px;
  width: 50%;
  z-index: 3;
}

.game-modal .game-lines3 {
  height: 430px;
  border-style: dashed;
  border-left: 0;
  border-right: 0;
  width: 70%;
  z-index: 2;
}

.game-modal .game-icon {
  position: absolute;
  top: -28%;
  right: 0;
  left: 0;
  z-index: 3;
}

.game-modal .game-icon img {
  width: 250px;
  height: 250px;
  pointer-events: none;
}

.game-modal .game-result {
  border-radius: 48px;
  border: 3px dashed var(--Gray-600, #828c90);
  width: 100%;
  height: 80%;
  margin: 2em 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game-modal .result-heading {
  margin: 0.5em;
  color: #4f5d64;
  text-align: center;
  font-size: 72px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 14.4px;
  text-transform: uppercase;
  user-select: none;
}

.game-modal .game-actions button {
  position: relative;
  padding: 8px 16px;
  margin: 0em 0.5em;
  color: #eed2a1;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 6px;
  text-transform: uppercase;
  border-radius: 8px;
  background: var(--Gray-900, #4f5d64);
  box-shadow: -2px 2px 2px 4px rgba(155, 164, 167, 0.4) inset, 2px -2px 2px 4px rgba(0, 0, 0, 0.45) inset;
  z-index: 5;
}

.game-modal .game-actions button:hover {
  cursor: pointer;
  background: hsl(200 12% 15% / 1);
}

.game-modal .misc-ellipses img {
  position: absolute;
  z-index: 2;
  pointer-events: none;
}

.game-modal .misc-ellipses img:first-child {
  top: 3.5em;
  left: 2em;
}

.game-modal .misc-ellipses img:nth-child(2) {
  top: 3.5em;
  right: 3em;
}

.game-modal .misc-ellipses img:nth-child(3) {
  bottom: 2em;
  left: 2em;
}

.game-modal .misc-ellipses img:last-child {
  bottom: 2em;
  right: 3em;
}
